

.treypic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    max-height: 300px;
}

#countingDown {
    color: aliceblue;
    width:600px;
}
.firstthing {
    text-align: center;
    border: 3px solid white;
    color: skyblue;
    padding:40px;
    margin-bottom:40px;
    font-family: "Times New Roman";
    font-weight: bolder
}

#extra{
    color:skyblue;
    font-weight: 800;
}

body {
    background-image: url("../images/background5.png")
}


#intro {
    text-align:center;
    color: skyblue;
}

#quiz {
    color: white;
    padding-left:40px;
}

#startButton {
   display:block;
   margin-left:auto;
   margin-right:auto;
   width:50%;
}


#countingDown {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    font-size:72px;
    color:yellow;
 }

 #scoreBoard {
     margin-top:50px;
    text-align: center;
    border: 3px solid green;
    padding:40px;
    margin-bottom:40px;
    color: aliceblue;
 }

 #submitButton {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    color: white;
    font-weight:bolder;
    margin-bottom:100px;
 }

 #rules{
     color:white;

 }